.Wrapper
  = render "users/sidemenu"
  .Card-information
    .Card-information__box
      .Card-information__announcement
        %span クレジットカード情報入力
      .Card-information__type
        %span VISA Ma
      .Card-information__number

      .Card-information__period

      .Card-information__security
  

