.Wrapper
  = render 'users/sidemenu'
  .Create
    .Create__frame
      .Create__frame-message
        登録が完了しました
      .Create__frame-toppage
        = link_to credit_cards_path do
          .Create__frame-topbtn
            トップページ画面へ