* {
  box-sizing: border-box;
}
.wrapper {
 background-color: #ffffff;
}

.Mypage-top {
  background-color: #ffffff;
  height: 150px;
  &__header {
    border-bottom: 1px solid lightgray;
    height: 100px;
    padding: 0 60px;
    //background-color: pink;
    justify-content: center;
  }
  &__header-box {
    padding-top: 15px;
    margin: 0 150px;
    //background-color: yellow;

  }
  &__header-boxtop {
    //background-color: brown;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 30px;
    //background-color: blue;
  }
  &__logo {
    width: 140px
  }
  &__form {
    width: 100%;
    height: 41px;
    //background-color: gray;
  }
  &__formarea {
    display: flex;
    height: 41px;
  }

  &__word {
    width: 100%;
    height: 100%;
  }
  &__tag {
    background-color: #3ccace;
    width: 36px;
    border: none;
  }
  i {
    color: white;
    font-size: 20px;
  }
  &__header-boxunder
}

.Mypage-main {
  background-color: #ffffff;
  height: 500px;
  display: flex;
  &__list {
    background-color: darkgrey;
    width: 200px;
  }
  &__information {
  background-color: darksalmon;
  width: calc(100vw - 200px);
  }
}

.Mypage-bottom {
    background-color: darkturquoise;
    height: 300px;
}
