.header_logo_box
	= image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" ,class:"image_log"
.main
	.confirmation_box
		.confirmation
			%h2.confirmation_name
				購入内容の確認
		.item_image_name_price
			.image_box
				=image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg",class:"item_image"
			.item_name_price	
				.item_name
					ハリネズミ	
				%p.item_price
					%span.postage_included
						送料込み(税込)
					%span.price
						¥3,000
		.payment_box
			%spne.payment
				支払い金額
			%span.payment_price
				¥1,800

		.metho_payment_box
			.metho_payment
				%h3.metho_payment
					支払い方法
			.metho_payment_category
				%p
					クレジットカード
				%p
					************○○○○
				%p
					有効期限○○/○○
				%p
					= image_tag "https://web-jp-assets.mercdn.net/_next/static/images/jcb-9ea981d20008c6545aa3afd1b3da9804.svg",class:"credit_image"
		.shipping_address_box
			.shipping_address
				配送先
			%p
				〒◯◯◯-◯◯◯◯
			%p
				東京都◯◯◯区◯◯町◯-◯-◯
			%p
				北浦 武蔵
		.buy_button_box
			%p.buy_button
				購入する
.footer_notes
	%ul
		%li
			プライバシーポリシー
		%li	
			利用規約
		%li
			特定商取引に関する表記
	= image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logotype-gray-432385160bc60aa0002854fccdef2caf.svg",class:"notes_log"
	%p
		© Mercari, Inc.
