.Wrapper
  = render "users/sidemenu"
  .Logout
    .Logout__boxs
      = link_to '#' do
        .Logout__btns
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
      
        